<div class="container-fluid">
    <h2>Vehicle Form</h2>
    <form [formGroup]="vehicleform" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Vehicle name</label>
            <input [class.is-invalid]= "vehiclename?.invalid  && vehiclename?.touched" type="text" formControlName='vehiclename' class="form-control">
            <span  class="text-danger" *ngIf="vehiclename.hasError('required')&& vehiclename.touched">Name is required</span>
        </div>
        <br>


        <div class="form-group">
            <label>Manufacturer </label>
            <input  type="text" formControlName='manufacturere' class="form-control">
        </div>

        <div class="form-group">
            <label>Model</label>
            <input type="text" formControlName='model' class="form-control">
        </div>

        <div class="form-group">
            <label>Fuel</label>
            <input type="text" formControlName='fuel' class="form-control">
        </div>
        <div class="form-group">
            <label>Color</label>
            <input type="text" formControlName='color' class="form-control">
        </div>


        <button class="btn btn-primary" type="submit">vehicle form</button>

    </form>

</div>